.bmi_output{
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-right:35%;
    margin-left:35%;

}

.gender_type {
    background-color: #b91a1a;
    border: 1px solid;
    border-radius: 6px;
}

fieldset {
	width: 300px;
	margin: 25px 0 0 50px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
	padding: 10px;
}

label {
	float: left;
	width: 140px;
	display: block;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

.downBMI {
    background-color: #5403CE;
    color: white;
    font-family: monospace, Courier, 'Courier New';
    border: 2px solid  #5403CE;
    border-color: #5403CE;
    cursor: pointer;
    width: 330px;
    height : 40px;
    opacity: 0.9;
    border-radius: 6px;
    margin-top :20px;
    margin-left:50px;
  }

.downBMI:hover {
    opacity: 1;
    background-color: #eaddfc;
    color: black;
    border: 2px solid  #eaddfc;
    border-color: #a46bfa;
    font-family: monospace, Courier, 'Courier New';
  }

.consult1 {
    background-color: #0489fd;
    color: white;
    font-family: monospace, Courier, 'Courier New';
    border: 2px solid  #0489fd;
    border-color: #e6ecff;
    cursor: pointer;
    width: 155px;
    height : 40px;
    opacity: 0.9;
    border-radius: 6px;
    margin-top :20px;
    margin-left:50px;
  }

.consult2 {
    background-color: #0489fd;
    color: white;
    font-family: monospace, Courier, 'Courier New';
    border: 2px solid  #0489fd;
    border-color: #e6ecff;
    cursor: pointer;
    width: 155px;
    height : 40px;
    opacity: 0.9;
    border-radius: 6px;
    margin-top :20px;
    margin-left:20px;
  }

/*<![CDATA[*/
@font-face {
    font-family:"fontfutura";
    src:url("https://fonts.googleapis.com/css?family=Open+Sans") format("ttf");
    font-weight:normal;
    font-style:normal;
}

a.btn-google{
    color:#fff;
}

a.btn-apple{
    color:#fff;
}

.btn {
    padding:10px 16px;
    margin:5px;
    font-size:18px;
    line-height:1.3333333;
    border-radius:6px;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;border:1px solid transparent;font-weight:500;text-decoration:none;display:inline-block}

.btn:active:focus,.btn:focus{outline:0}

.btn:focus,.btn:hover{color:#333;text-decoration:none;outline:0}

.btn:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}

/*Google*/
.btn-google{
    color:#fff;
    background-color:#111;
    border-color:#000;
    padding:13px 14px 3px 38px;
    position:relative;
    font-family:fontfutura;
    font-weight:600;
    margin-left: 70px
}

.btn-google:focus{
    color:#fff;
    background-color:#555;
    border-color:#000
}

.btn-google:active,.btn-google:hover{
    color:#fff;
    background-color:#555;
    border-color:#000;
}

.btn-google:before{
    content:"";
    background-image:url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);
    background-size:cover;
    background-repeat:no-repeat;
    width:30px;
    height:30px;
    position:absolute;
    left:6px;top:50%;margin-top:-15px
}

.btn-google:after{
    content:"GET IT ON";
    position:absolute;
    top:5px;
    left:40px;
    font-size:10px;
    font-weight:400;
}

/*Apple*/
.btn-apple{
    color:#fff;
    background-color:#111;
    border-color:#000;
    padding:13px 14px 3px 38px;
    position:relative;
    font-family:fontfutura;
    font-weight:600;
    margin-left: 10px
}

.btn-apple:focus{
    color:#fff;
    background-color:#555;
    border-color:#000
}

.btn-apple:active,.btn-apple:hover{
    color:#fff;
    background-color:#555;
    border-color:#000;
}

.btn-apple:before{
    content:"";
    background-image:url("apple_icon.png");
    background-size:cover;
    background-repeat:no-repeat;
    width:30px;
    height:30px;
    position:absolute;
    left:6px;top:50%;margin-top:-15px
}

.btn-apple:after{
    content:"Download on the";
    position:absolute;
    top:5px;
    left:40px;
    font-size:10px;
    font-weight:400;
}


